/Source/ring-fw/components/SGU
/Source/ring-factory/components/FastLED-idf
/Source/ring-fw/components/FastLED-idf
/Source/base-fw/build
/Source/base-fw/components/led_strip
/Source/base-fw/components/SGU
/Source/ring-fw/build
/Source/ring-factory/build
/Source/base-fw/main/EmbeddedFiles.bin
/Source/base-fw/main/EmbeddedFiles.c
/Source/base-fw/main/secretconfig.h
/Source/base-fw/main/EmbeddedFiles.h
/Source/base-fw/main/EmbeddedFiles.txt
__pycache__/
*.pyc
/Source/base-fw/sdkconfig.old
/Source/ring-factory/sdkconfig.old
/Source/ring-fw/sdkconfig.old
Source/base-fw/.vscode/settings.json
Source/ring-factory/.vscode/settings.json
/.vscode
Source/ring-fw/.vscode/settings.json
/Source/base-fw/main/assets/EmbeddedFiles.bin
/Source/base-fw/main/assets/EmbeddedFiles.txt
/Source/test-stepper/build
/Source/test/test-stepper/build
/Source/base-fw/.vscode
/Source/ring-factory/.vscode
/Source/ring-fw/.vscode
