@font-face {
  font-family: 'eurostile_ext2_bold'; /*a name to be used later*/
  src: url('../font/eurostile_extended2_bold.woff'); /*URL to font*/
}

@font-face {
  font-family: 'stargateuniverse'; /*a name to be used later*/
  src: url('../font/stargateuniverse.woff'); /*URL to font*/
}

* {
  font-family: 'eurostile_ext2_bold';
}

body {
  background-color: black;
  color: red;
  margin: 0;
}

.address-container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.address-item  {
  font-family: 'orbitron';

  flex-grow: 1;
  flex: 1 1 0px;

  display: inline-block;

  align-self: flex-start;
}

.address-item:hover {
  border-color: lightsteelblue;
}

.colstatus {
  background-color: red;
  flex-grow: 1;
}

.sguaddrbtn {
  margin-bottom: 0px;
  padding: 5px;
  width: 100%;
  background-color: #112637;
  color: #1C99AD;
  border-radius: 0.2rem;
  border-color: black;
  border-radius: 0.5rem;
}

.sguaddrbtn p {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.sguaddrbtn span {
  font-family: 'stargateuniverse';
  font-size: 45px;
  margin: 2.5px;
}

.sguaddrbtn-selected {
  width: 100%;
  background-color: #0C62C5;
  color: #17EB84;
  border-radius: 0.2rem;
  border-color: white;
  border-radius: 0.5rem;
}

.sguaddrbtn:hover {
  background-color: #32A4EB;
  color: white;
  border-color: #0C62C5;
  border-width: 2.5px;
}

.sguaddrbtn:disabled {
  pointer-events: none;
  background-color: darkgray;
  color: lightgray;
}

/* CSS */
.button-27 {
  appearance: none;
  background-color: #112637;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #1C99AD;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
  background-color: darkgray;
  color: lightgray;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  background-color: #0E1E2B;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* 360 / 54 = 6.666666 */
.stargate {
  transform: rotate(-6.6666666666666deg);
  transform: scale(0.75)
}


#headermenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  overflow: hidden;
  background-color: #333;
}

#headermenu li {
  float: left;
}

#headermenu li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}

#headermenu li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

#headermenu li.dropdown {
  display: inline-block;
}

#headermenu .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#headermenu .dropdown-content .item {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#headermenu .dropdown-content a:hover {background-color: #f1f1f1;}

#headermenu .dropdown:hover .dropdown-content {
  display: block;
}
