<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="css/content.css">
        <title>Destiny control</title>
    </head>
    <body>
		<div id="app">
			<div class="address-container">
				<div v-for="addr in alladdresses"> <!-- sguaddrbtn-selected -->
					<button class="sguaddrbtn " @click="DialGate(addr.symbolIndexes)">
						<p>{{ addr.name }}</p>
						<span v-for="symbolIndex in addr.symbolIndexes">
							<span>{{ GetSymbolIndex(symbolIndex).txt }}</span>
						</span>
					</button>
				</div>
			</div>
		</div>

        <!-- JS -->
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>