<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="css/content.css">
        <link rel="stylesheet" type="text/css" href="css/top-menu.css">
        <link rel="stylesheet" type="text/css" href="css/sidenav.css">
        <title>Destiny control</title>
    </head>
    <body>
		<div id="app">
			<div class="navbar" :class="{ navbar_error: status.is_error }">
				<a class="" href="#" alt="Homing the gate" onclick="openNav()"><img src="img/home.svg" width="30" height="30"></a>
				<p>{{ status.is_error ? status.error_text : status.text }}</p>
				<p style="margin-right: 10px">{{ String(status.time_hour).padStart(2, '0') }}:{{ String(status.time_min).padStart(2, '0') }}</p>
			</div>

			<!-- Side nav -->
			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="index.html">Home</a>
				<a href="about-ota.html">About</a>
				<a href="settings.html">Settings</a>
				<br>
				<div style="display: flex; flex-flow: column;">
					<button id="idBtStop" class="button-27" style="background-color: red; color: white;" :disabled="!is_connected" onclick="SendAction('action/stop')">Stop</button>
					<p>Gate</p>
					<button id="idBtGoHome" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/gohome')">Homing sequence</button>
					<button id="idBtActiveWormhole" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/activatewormhole')">Activate wormhole</button>
					<button id="idBtActiveClock" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/activateclockmode')">Activate clock mode</button>
					<div style="display: flex; flex-flow: row;">
						<button id="idBtReleaseClamp" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/releaseclamp')">Release</button>
						<button id="idBtLockClamp" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/lockclamp')">Lock</button>	
					</div>
					<div style="display: flex; flex-flow: row;">
						<button id="idBtRampLightON" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ramplighton')">Ramp light (on)</button>
						<button id="idBtRampLightOFF" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ramplightoff')">Ramp light (off)</button>
					</div>
					<p>Ring</p>
					<button id="idBtRingTurnOff" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ringturnoff')">Power Off</button>
					<div style="display: flex; flex-flow: row;">
						<button id="idBtRingChevronError" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ringchevronerror')">Error</button>
						<button id="idBtRingChevronFadeIn" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ringchevronfadein')">Fade-in</button>
						<button id="idBtRingChevronFadeOut" style="flex-basis: 100%;" class="button-27 item" :disabled="!is_connected" onclick="SendAction('action/ringchevronfadeout')">Fade-out</button>
					</div>
				</div>
			</div>

			<!-- Main part -->
			<div class="main">
				<div class="address-container">
					<div v-for="addr in alladdresses" class="address-item">
						<button class="sguaddrbtn" :disabled="!is_connected" @click="DialGate(addr.symbolIndexes)">
							<p>{{ addr.name }}</p>
							<span v-for="symbolIndex in addr.symbolIndexes">
								<span>{{ GetSymbolIndex(symbolIndex).txt }}</span>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
        <!-- JS -->
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>

		<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "100%";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
		</script>
    </body>
</html>