<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="css/content.css">
        <title>Destiny control</title>
    </head>
    <body onLoad="AppLoaded()"">
		<div id="app">
			<!-- Action bar -->
			<div>
				<ul>
					<!-- Dial control -->
					<li class="dropdown">
						<button class="dropbtn button-27">Dial</button>
						<div class="dropdown-content">
							<button id="idBtGoHome" class="button-27 item" onclick="SendAction('action/gohome')">Homing sequence</button>
						</div>
					</li>

					<!-- Clamp control -->
					<li class="dropdown">
						<button class="dropbtn button-27">Clamp</button>
						<div class="dropdown-content">
							<button id="idBtReleaseClamp" class="button-27 item" onclick="SendAction('action/releaseclamp')">Release</button>
							<button id="idBtLockClamp" class="button-27 item" onclick="SendAction('action/lockclamp')">Lock</button>
							<button id="idBtActiveWormhole" class="button-27 item" onclick="SendAction('action/activewormhole')">Activate wormhole</button>
						</div>
					</li>

					<!-- Ring control -->
					<li class="dropdown">
						<button class="dropbtn button-27">Ring</button>
						<div class="dropdown-content">
							<button id="idBtRingTurnOff" class="button-27 item" onclick="SendAction('action/ringturnoff')">Power Off</button>
							<button id="idBtRingChevronError" class="button-27 item" onclick="SendAction('action/ringchevronerror')">Chevron Error effect</button>		
							<button id="idBtRampLightON" class="button-27 item" onclick="SendAction('action/ramplighton')">Ramp light (on)</button>
							<button id="idBtRampLightOFF" class="button-27 item" onclick="SendAction('action/ramplightoff')">Ramp light (off)</button>
						</div>
					</li>
					<!-- Advanced -->
					<li class="dropdown">
						<button class="dropbtn button-27">Advanced</button>
						<div class="dropdown-content">
							<button id="idBtRingGotoFactory" class="button-27 item" onclick="SendAction('action/ringgotofactory')">Ring (Goto factory)</button>
							<button id="idBtReboot" class="button-27 item" onclick="SendAction('action/reboot')">Reboot</button>
						</div>
					</li>
					<li style="float: right;"><button id="idBtStop" class="button-27" style="background-color: red;" onclick="SendAction('action/stop')">Stop</button></li>
				</ul>
			</div>
			<div class="flex-container">
				<div>
					<div v-for="addr in alladdresses">
						<button class="sguaddrbtn" @click="SendAction('action/dial', addr.symbolIndexes)">
							<p style="margin: 0.15em; font-weight: bold; color: black;">{{ addr.name }}</p>
							<span v-for="symbolIndex in addr.symbolIndexes">
								<!-- <img v-bind:src="GetSymbolIndex(symbolIndex).imgfile"> -->
								<span style="font-family: 'stargateuniverse'; font-size: 3rem; margin: 0.5rem">{{ GetSymbolIndex(symbolIndex).txt }}</span>
							</span>
						</button>
					</div>
				</div>
				<!-- <div><img class="stargate" src="img/stargate.png"></div> -->
			</div>
		
			<!-- System infos -->
			<div>
				<table>
					<thead>
						<tr>
							<td><b>Name</b></td>
							<td><b>Value</b></td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="sysinfo in sysinfos">
							<td>{{ sysinfo.name }}</td>
							<td>{{ sysinfo.value }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- OTA -->
			<div>
				<table>
					<tr>
						<td>File</td>
						<td><input type="file" id="idFile"></td>
					</tr>
				</table>
				<button id="idBtnUpload" class="button-27" onclick="idBtnUpload_Click()">Upload</button>	
			</div>

		</div>
		
        <!-- JS -->
        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </body>  
</html>